.InputTodo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.textbar {
    width: 70%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
    font-size: 16px;
}

.textbar:focus {
    border: 1px solid blue;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submitbutton {
    padding: 10px 15px;
    border-radius: 50%;
    border: none;
    background-color: blue;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.submitbutton:hover {
    background-color: darkblue;
}
