.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: black;
}

.container h2 {
    color: white;
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.form input[type="email"],
.form input[type="password"],
.form input[type="repassword"] {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 13px;
}

.error {
    color: #FF0558;
    font-size: 12px;
    margin-bottom: 13px;
}

.button {
    cursor: pointer;
    padding: 10px;
    background-color: #FF0558;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

.button-disabled {
    background-color: gray;
}
