body {
    margin: 0;
    background-color: black;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    transform: translateY(-45%);
}

.search_container input {
    width: 80%;
    padding: 12px;
    font-size: 13px;
    border: 1px solid #ffffff;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search_container button {
    padding: 9px 20px;
    font-size: 16px;
    color: white;
    background-color: #FF0558;
    border: none;
    border-radius: 0 5px 5px 0;
}

.results_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: white;
}

.movies_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
}

.loadingtext {
    color: white;
    text-align: center;
}

.errortext {
    color: white;
    text-align: center;
}

.noresultstext {
    color: white;
    text-align: center;
    font-size: 14px;

}
